{% extends 'base_template.html' %}

{% block page_title %}
    更改密码
{% endblock page_title %}


{% block main_content %}

    {% load static %}

    <section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">个人信息</h3>
                        </div>
                        <!-- /.card-header -->


                        <div class="card-body">

                            <form role='form' action="{% url 'do_change_password' %}" method="POST">
                                {% csrf_token %}


                                <div class="form-group">
                                    <label>原密码 </label>
                                    <input type="text" class="form-control" name="original_password"
                                    placeholder="请输入原密码">
                                </div>
                                <div class="form-group">
                                    <label>新密码 </label>
                                    <input type="password" class="form-control" name="password1"
                                       placeholder="请输入新密码"    >
                                </div>
                                <div class="form-group">
                                    <label>确认密码 </label>
                                    <input type="password" class="form-control" name="password2"
                                      placeholder="请确认新密码"     >
                                </div>
                                <button type="submit" class="btn btn-primary">确定修改</button>
                            </form>


                        </div>
                        <!-- /.card-body -->

                        {#                        </form>#}
                    </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>

{% endblock main_content %}
{% block custom_css %}
    <style>    .lBut {
        width: 87px;
        height: 32px;
        font-size: 14px;
        line-height: 1.15;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        padding: 8px 10px;
        margin-left: 28px;
        transition: all 0.5s;
        white-space: nowrap;
        background-color: #409eff;
        color: white;
        border: 1px solid #409eff;
    }</style>


{% endblock %}

{% block custom_js %}
    <script>
        var btn = document.getElementById('btn');
        var bbtn = document.getElementById('bbtn');
        var pic1 = document.getElementById('pic1');
        bbtn.addEventListener('click', function () {
            btn.click();
        });
        btn.onchange = function () {
            const data = window.URL.createObjectURL(this.files[0]);
            pic1.src = data;
        }
    </script>
{% endblock %}

{#{% block custom_js %}#}
{#    <script>#}
{#        $(function () {#}
{#            $('#btn').click(function () {#}
{#                $('#ipt').click();#}
{#                console.log('jsidolfajposp');#}
{#            });#}
{#            $('#ipt').change(function () {#}
{#                console.log('yesyresia');#}
{#                var file = this.files[0];#}
{#                var reader = new FileReader();#}
{#                var formData = new FormData();#}
{#                formData.append('file', $('#ipt')[0].files[0]);#}
{#                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');#}
{#                reader.readAsDataURL(file);#}
{#                reader.onload = function () {#}
{#                    $('#pic').attr('src', reader.result);#}
{#                    console.log(formData);#}
{#                    $.ajax({#}
{#                        url: "{% url 'change_avatar' %}",#}
{#                        dataType: 'json',#}
{#                        type: 'POST',#}
{#                        async: false,#}
{#                        data: formData,#}
{#                        processData: false, // 使数据不做处理#}
{#                        contentType: false, // 不要设置Content-Type请求头#}
{##}
{##}
{#                        success: function (data) {#}
{#                            console.log(data);#}
{#                        }#}
{#                    })#}
{#                }#}
{##}
{##}
{#            });#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}