{% extends 'base_template.html' %}
{% block page_title %}
    我的关注
{% endblock %}
{% block custom_css %}
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            height: 100vh;
        }

        .user-info img {
            border-radius: 50%;
            margin-right: 10px;
        }

        .chat-content {
            padding: 20px;
            max-height: 300px;
            overflow-y: auto;
        }

        .user-list {
            display: flex;
            flex-direction: column;
        }

        .user-item {
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #ddd;
        }

        .user-item:hover {
            background-color: #e5e5e5;
        }

        .user-info-container {
            display: flex;
            align-items: center;
        }

        .user-avatar {
            border-radius: 50%;
            margin-right: 10px;
            max-width: 40px;
            max-height: 40px;
            transition: transform 0.3s ease-in-out;
        }

        .user-name {
            font-weight: bold;
        }

        .user-item.selected {
            background-color: #3498db;
            color: #fff;
        }

        .chat-container {
            display: flex;
            max-width: 85%;
            height: 80vh; /* 设置为页面的80% */
            margin: 20px auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            overflow: hidden;
        }

        .sidebar-session {
            flex: 0 0 25%;
            background-color: #fefefe;
            padding: 10px;
            box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .chat-content {
            flex: 1;
            padding: 20px;
            max-height: 100%;
            overflow-y: auto;
        }


        .my_main {
            max-height: 200px;
            width: 80%;
            margin: auto;
        }

        .card-header-smaller-right {
            font-size: smaller;
            float: right;
            font-weight: lighter;
        }

        .card-title-font {
            font-weight: bold;
            font-size: larger;
        }

        .post_type {
            font-size: 14px;
            font-weight: lighter;
            margin: 0;
        }

        .btn-like {
            width: 80px;
            height: 38px;
            text-align: center;
            padding-top: 4px;
        }

        .btn-like.liked {
            color: #02afec;
        }

        .btn-star.starred {
            color: #02afec;
        }

        .btn-like.liked:hover {
            color: #02afec;
        }

        .btn-star.starred:hover {
            color: #02afec;
        }

        .btn-star {
            width: 50px;
            height: 38px;
            padding-top: 5px;
            margin: 0 0 0 10px;
        }

        .icon-like{
            margin-right: 5px;
        }

    </style>

{% endblock %}
{% block main_content %}

    <div class="chat-container">
        <div class="sidebar-session ">
            <div class="user-list primary" id="userList"></div>
        </div>
        <div class="chat-content" id="chatContent">

        </div>
    </div>

    <div id="card-template" style="display: none;">
        <div class="card  border-primary my_main  mb-3 ">
            <span class="card-header" style="background-color: #b8d9f0">
                <span class="card-header-smaller-right">{time}</span>
            </span>
            <div class="card-body" data-post-id="{postId}">
                <a class="card-title card-title-font" style="text-decoration: none"
                   href="{titleUrl}">{title}</a>
                <p class="card-text">{shortContent}</p>
                <p class="post_type">{type}</p>
                <a class="btn btn-star btn-light btn-lg float-right {starClass}" style="border: none;"
                   onclick="handleStarClick(this)"><i class="fas fa-star"></i></a>
                <a class="btn btn-like btn-light btn-lg float-right {likeClass}" style="border: none;"
                   onclick="handleThumbsUpClick(this)"><i class="fas fa-thumbs-up icon-like"></i><span id="{likeId}"
                                                                                             style="font-size: smaller">{like}</span></a>
            </div>
        </div>

    </div>


    <script>
        var userList = document.getElementById('userList');
        var chatContent = document.getElementById('chatContent');

        {% for following in followings %}
            (function () {
                var user = {
                    id: {{ following.followee_id }},
                    adminId:{{ following.followee_admin_id }},
                    name: '{{ following.followee_name }}',
                    avatar: '{{ following.followee_avatar }}',
                    school: '{{ following.followee_school }}'
                };

                var userItem = document.createElement('div');
                userItem.className = 'user-item';

                // 创建包含头像和名称的容器
                var userInfoContainer = document.createElement('div');
                userInfoContainer.className = 'user-info-container';

                // 添加用户头像
                var userAvatar = document.createElement('img');
                userAvatar.src = user.avatar;
                userAvatar.alt = user.name;
                userAvatar.className = 'user-avatar';

                // 添加用户名称和学校信息
                var userName = document.createElement('span');
                userName.className = 'user-name';
                userName.innerHTML = `<span>${user.name}</span><br><span style="color: lightblue font-weight: normal; font-size: 0.8em;">${user.school}</span>`;

                // 将头像和名称添加到容器中
                userInfoContainer.appendChild(userAvatar);
                userInfoContainer.appendChild(userName);


                userAvatar.addEventListener('mouseover', function () {
                    userAvatar.style.transform = 'scale(1.4)';
                });

                userAvatar.addEventListener('mouseout', function () {
                    userAvatar.style.transform = 'scale(1)';
                });

                userAvatar.addEventListener('click', function () {
                    window.location.href = "{% url 'ohome_page' 0 %}".replace('0', user.adminId);
                });

                // 将用户信息容器添加到用户项目中
                userItem.appendChild(userInfoContainer);

                // 添加点击事件
                userItem.addEventListener('click', function () {
                    switchUser(user);
                });

                // 将用户项目添加到用户列表中
                userList.appendChild(userItem);
            })();
        {% endfor %}



        function switchUser(user) {
            chatContent.innerHTML = '';
            var userItems = document.querySelectorAll('.user-item');
            userItems.forEach(function (item) {
                item.classList.remove('selected');
            });
            var selectedUserItem = event.currentTarget;
            selectedUserItem.classList.add('selected');

            $.ajax({
                type: "POST",

                url: "{% url 'moment_following' %}",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    'user_id': user.id
                },
                success: function (response) {
                    var status = response.status_request;
                    if (status === 'success') {
                        var posts = response.posts_info;
                        var templateElement = document.getElementById('card-template');
                        var templateHTML = templateElement.innerHTML;
                        var viewMomentUrl = "{{ view_moment_url }}";
                        for (var i = 0; i < posts.length; i++) {
                            var post = posts[i];
                            var postHTML = templateHTML
                                .replace('{time}', post.time)
                                .replace('{url}', viewMomentUrl.replace('post_id_placeholder', post.id))
                                .replace('{title}', post.title)
                                .replace('{shortContent}', post.content.length > 20 ? post.content.slice(0, 20) + '...' : post.content)
                                .replace('{type}', post.type)
                                .replace('{starClass}', post.starred ? 'starred' : '')
                                .replace('{likeClass}', post.liked ? 'liked' : '')
                                .replace('{postId}', post.id)
                                .replace('{like}', post.like_count)
                                .replace('{likeId}', 'likesCount' + post.id)
                                .replace('{titleUrl}', '/view_moment/' + post.id);
                            chatContent.insertAdjacentHTML('beforeend', postHTML);
                        }

                    }
                }
            })
            ;
        }

        function handleStarClick(element) {
            var postId = $(element).closest('.card-body').data('post-id');
            $.ajax({
                type: "POST",
                url: "{% url 'moment_star' %}",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    'post_id': postId
                },
                success: function (response) {
                    var resultValue = response.result
                    if (resultValue === 'starred') {
                        element.classList.add('starred');
                    } else if (resultValue === 'unstarred') {
                        element.classList.remove('starred');
                    } else {
                        console.error('Unexpected result value:', resultValue);
                        return;
                    }
                }
            })
            ;
        }

        function handleThumbsUpClick(element) {
            var postId = $(element).closest('.card-body').data('post-id');
            $.ajax({
                type: "POST",
                url: "{% url 'moment_like' %}",
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}'
                },
                data: {
                    'post_id': postId
                },
                success: function (response) {
                    var resultValue = response.result;
                    var likesCountElement = document.getElementById('likesCount' + postId);
                    var currentLikes = parseInt(likesCountElement.textContent);
                    if (resultValue === 'liked') {
                        var newLikes = currentLikes + 1;
                        element.classList.add('liked');

                    } else if (resultValue === 'unliked') {
                        var newLikes = currentLikes - 1;
                        element.classList.remove('liked');
                    } else {
                        console.error('Unexpected result value:', resultValue);
                        return;
                    }
                    likesCountElement.textContent = newLikes;
                }
            })
            ;
        }
    </script>
{% endblock %}
