{% extends 'stu_base.html' %}
{% load static %}

{% block content %}

    <body class="hold-transition login-page"
          style="background-image: url('{{ STATIC_URL }}img/222.jpg');background-size:100% 100%;background-repeat:no-repeat;">

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                {% if messages %}
                    <div class="form-group">
                        <div class="col-12">
                            {% for message in messages %}
                                {% if message.tags == "error" %}
                                    <div class="alert alert-danger alert-dismissible fade show myalert"
                                         role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% elif message.tags == "success" %}
                                    <div class="alert alert-success alert-dismissible  fade show myalert"
                                         role="alert">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>

    <div class="login-box" style="width: 25%">
        <div class="login-logo">
            <a href="{% url 'login' %}"
               style="color: #22c7ff;font-family: 华文行楷;font-size: 40px;border-color: lightblue"><strong>蓝鲸校园助手</strong></a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">注册界面</p>
                <p class="login-box-msg" style="font-size: small">（注册需先登录蓝鲸平台https://ce.bktencent.com/）</p>


                <form action="{% url 'doRegister' %}" method='post'>
                    {% csrf_token %}

                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="邮箱" name="email" id="email">

                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group">
                            <input type="text" name="vertify" id="vertify" class="form-control"
                                   placeholder="请输入校验码">
                            <span class="input-group-btn">
                                                    <input type="button" id="sendEmail"
                                                           class="btn btn-primary" value="获取验证码"></input>
                                            </span>
                        </div>

                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="用户名" name="username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" placeholder="手机号码" name="phone">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input id="appName" class="form-control" type="text" list="appNamelist" placeholder="学校"
                               name="school">
                        <datalist id="appNamelist">
                            {% for option in options %}
                                <option value="{{ option }}">{{ option }}</option>
                            {% endfor %}

                        </datalist>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa fa-book" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="密码" name="password1">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="确认密码" name="password2">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <a href="{% url 'login' %}" class="btn btn-primary btn-block">返回</a>
                        </div>
                        <div class="col">
                            <button type="submit" class="btn btn-dark btn-block">注册</button>
                        </div>
                    </div>

                    {% comment %} <div class="col-12 text-center">
            <a href="{% url 'password_reset' %}">Reset Password</a>
          </div>  {% endcomment %}

                    {% comment %} Display Messages {% endcomment %}
                    {#                    {% if messages %}#}
                    {#                        <div class="col-12">#}
                    {#                            {% for message in messages %}#}
                    {#                                {% if message.tags == "error" %}#}
                    {#                                    <div class="alert alert-danger alert-dismissible fade show" role="alert"#}
                    {#                                         style="margin-top: 10px;">#}
                    {#                                        {{ message }}#}
                    {#                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">#}
                    {#                                            <span aria-hidden="true">&times;</span>#}
                    {#                                        </button>#}
                    {#                                    </div>#}
                    {#                                {% endif %}#}
                    {#                            {% endfor %}#}
                    {#                        </div>#}
                    {#                    {% endif %}#}


                </form>
                <!-- /.col -->
            </div>


        </div>
    </div>
    <!-- /.login-box -->

{% endblock %}

{% block custom_js %}
    <script>
        function testEmail(str) {
            var re = /^[a-zA-Z0-9_.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z0-9]{2,6}$/;
            return re.test(str);
        }

        $("#sendEmail").click(function () {
            var email = $("#email").val();//获取用户输入邮箱
            if (email == '' || !testEmail(email)) {//验证邮箱格式
                alert('邮箱格式不正确，请重新输入');
            } else {
                //按钮不可再次点击，开始倒计时
                $.ajax({
                    url: "{% url 'reg' %}",
                    type: "post",
                    data: {
                        type: 'sendMessage',
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        email: email
                    },
                    dataType: "json",
                    success: function (reg) {
                        // 短信发送失败
                        if (!reg.state) {
                            alert(reg.errmsg)
                        } else {
                            alert(reg.susmsg)
                            settime();//短信发送成功，倒计时
                        }
                    }
                });
                var btn_sendEmail = $("#sendEmail");
                var countdown = 60;

                function settime() {
                    if (countdown === 0) {
                        btn_sendEmail.attr("disabled", false);
                        btn_sendEmail.val("获取验证码");
                        return false;
                    } else {
                        btn_sendEmail.attr("disabled", true);
                        btn_sendEmail.val("重新发送(" + countdown + ")");
                        countdown--;
                    }
                    setTimeout(function () {
                        settime();
                    }, 1000);
                }
            }
        });
    </script>
{% endblock %}